@media (max-width: 1200px)
    .container
        max-width: 900px
    .hotel
        &-slider
            &__item
                max-width: 580px
            &__image
                height: 100%
                background-size: cover
    .booking
        width: 300px
    .map
        width: 300px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            width: 355px
            &:not(:nth-last-child(-n+2))
                margin-bottom: 20px
            &:last-child
                display: hidden
    .footer
        &__input
            flex-basis: 100%
@media (max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 768px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                font-weight: 700
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &-slider
            width: 768px
            margin: 0
            margin-bottom: 30px
            &__item
                max-width: 768px
        &-right
            flex-direction: row
            align-items: flex-start
    .swiper
        max-width: 100%
    .booking
        width: 48%
    .map
        width: 48%
    .slider
        width: 100%
    .swiper
        &-slide
            &__image
                width: 100%
    .reviews
        &-slider
            &__item
                max-width: 579px
    .activities
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 339px
        &:last-child
            display: visible
    .footer
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 38px
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__legal
            grid-column: span 2
            margin: 0
        &__additional
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
            &-form
                grid-row: 4
                grid-column: span 5
        &__input
            flex-basis: 48%
        &__privacy
            grid-column: span 3
        &__pay
            grid-column: 5
@media (max-width: 768px)
    .container,
    .newsletter-wrapper
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__search, &__user
            display: none
        &-bottom
            display: none
    .menu
        &-button
            width: 16px
            height: 11px
            padding: 0
            border: none
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: content
    .hotel
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__offer
                order: -1
                margin-left: 0
            &__rating
                display: none
            &__name
                flex-basis: 100%

    .hotel
        &-right
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after,&::before
                    display: nonу
            &__button
                top: 30px
                &--prev
                    left: 50%
                    transform: translate(-50%,0)
                    margin-left: -65px
                &--next
                    right: 50%
                    transform: translate(50%,0)
                    margin-right: -65px
    .activities
        padding-top: 40px
        padding-bottom: 60px
    .card
        width: 49%
        height: 255px
    .footer
        &__input
            flex-basis: 100%
        &__contact
            &-form
                grid-column: span 6
        &__privacy
            grid-column: span 6
            &--ul
                justify-content: space-between
        &__pay
            grid-column: span 3
            justify-content: flex-start
@media (max-width: 576px)
    .logo
        max-width: 99px
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding: 76px 0 83px 0
        &-title
            font-weight: 300
            font-size: 20px
            &__strong
                font-weight: 600
                font-size: 30px
        &__title
            margin-bottom: 37px
    .card
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px
        &__logo
            width: 104px
            height: 120px
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__info
            flex-basis: 100%
            margin-bottom: 15px
        &__button
            order: 1
        &__privacy
            grid-row: 8
            grid-column: 1
        &__pay
            grid-row: 9
            grid-column: 1
