.reviews
    padding: 40px 0 70px 0
    &-title
        font-weight: 700
        font-size: 36px
        text-transform: uppercase
        text-align: center
        color: $text-color
    &-slider
        &__item
            background-color: #fff
            border-radius: 8px
            display: flex
            flex-direction: column
            align-items: center
            margin-top: 45px
        &__profile
            display: flex
            flex-direction: column
            align-items: center
            margin-top: -45px
        &__avatar
            width: 90px
            height: 90px
            border-radius: 50%
            object-fit: cover
            object-position: top